

body {
	/*background: url(../img/chalk.jpg) no-repeat center center fixed;*/
	/*background-size: 100% 100%;*/
	background: url(../img/lesson.jpg) no-repeat center center fixed;
	background-size: cover; /*Css padrão*/
	-webkit-background-size: cover; /*Css safari e chrome*/
	-moz-background-size: cover; /*Css firefox*/
	-ms-background-size: cover; /*Css IE não use mer#^@%#*/
	-o-background-size: cover; /*Css Opera*/
}


/* Header */
header {
	background-color: #4527A0;
	height: 60px;
	position: absolute;
	width: 100%;
}


/* Menu button*/
.btn-menu {
	background-color: red!important;
}


/* Menu */
.wrap {
	max-width: 100%;
	margin: 0;
}
  
.nav {
	background-color: none;
	width: 175px;
	position: absolute;
	top: 0;
	left: 0;
}
	       
.nav ul {
	padding: .5em;
	margin: 0;
}		
	       
li {
	margin: 0;
	padding: 0;
	display: block;
}
       			
.listaNav > div > li > a {
	font-family: Tahoma;
	padding: 0.5em 0 0.5em 0;
	display: block;
	color: #FFF!important;
}
li a:hover {
	text-decoration: none;
}

            
.nav-toggle {
	position: absolute;
	top: 0;
	left: 230px;
	right: -56px;
	color: #FFF;
	display: block;
}

/* Content */
section {
	position: relative;
	top: 95px;
	z-index: -1000;
} 

.panel-articles {
    float: left;
    width: 100%;
}


.date {
    font-size: 10px;
    margin: -20px 0 0 15px;
    color: #828282;
}


.save {
    float: right;
}

.panel-heading a {
    font-size: 1.2em;
}


.post h1 a, .post h1 a:visited {
    color: #000000;
}

.panel-recent-news, .footer {margin-top: 95px;}

.link-title-recent-news > p {cursor: pointer;}


/* Material design for bootstrap adapted for the portal*/
.list-group-item-heading {
	width: 100%!important;
	line-height: 1.3!important;
	font-size: 1em!important;
}

.btn-group-vertical {
	background-color: #4527A0;
}


/* 
	Pager of news [Home] 
*/
.pager {
	margin-top: -10px;
}


.foto {
	width: 100%;
}

.listaNav > div > li > ul > li > a {
	color: #FFF!important;
	margin-left: 30px!important;
	margin-top: -10px!important;
}